[Desktop Entry]
Type=Application
Terminal=true
Name=installer
Icon=utilities-terminal
Exec=gnome-terminal -- bash -c "cd $(dirname %k) && sh ./install.sh";
Categories=Application;
