aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17.2
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
blinker==1.4
branca==0.4.2
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
Flask==1.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
folium==0.12.1.post1
frozenlist==1.2.0
idna==3.3
idna-ssl==1.1.0
importlib-metadata==4.8.3
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==2.0.1
multidict==5.2.0
netifaces==0.11.0
numpy==1.19.5
pdfkit==1.0.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
PySide2==5.15.2
PySideFlask==2.0
requests==2.27.0
selenium==3.141.0
shiboken2==5.15.2
typing-extensions==4.0.1
urllib3==1.26.7
Werkzeug==0.15.5
xmltodict==0.12.0
yarl==1.7.2
zipp==3.6.0
