[Desktop Entry]
Type=Application
Terminal=true
Name=start_main_client
Icon=utilities-terminal
Exec=gnome-terminal -- bash -c "python3 $(pwd)/update.py; sleep 5";
#Path=/home/event1/Desktop/6349_App/
