[Desktop Entry]
Type=Application
Terminal=true
Name=start_main_client
Icon=utilities-terminal
Categories=Application;
Exec="/home/netmesh/Desktop/6349_App/main_client.py"
Path=/home/netmesh/Desktop/6349_App/
