[Desktop Entry]
Type=Application
Terminal=true
Name=start_main_client
Icon=utilities-terminal
Categories=Application;
Exec="/home/event1/Desktop/6349_App/update.py"
Path=/home/event1/Desktop/6349_App/
