.column {
	float: left;
	width:50%
}

/* .card {

} */

/* .container:after{
	content: "";
	display: table;
	clear:both;
} */

.line{
    fill:none;
    stroke: green;
    stroke-width:5px;
}

/* body{
	background-image:url("../images/ntc_logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
} */

/* #tab0,#tab1,#tab2,#tab3,#rtab0,#rtab1,#rtab2,#rtab3{
	float:left;
	padding: 5px 10px 5px 10px;
	background:#63ABF7;
	color:#FFFFFF;
	margin:0px 5px 0px 5px;
	cursor: pointer;
	border-radius: 5px;
} */

#tab0Content{
	display:block;
}

#tab1Content,#tab2Content, #tab3Content{
	display:none;
}

#rtab0Content{
	display:block;
}

#rtab1Content#rtab2Content, #rtab3Content{
	display:none;
}

.progress.prog_bar{
	margin: 10px;
	min-width: 200px;
	/* max-width: 800px; */
}

.imgcontainer{
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar{
	width: 50%;
	min-width: 160px;
	max-width: 240px;
	border-radius: 50%;
}

span.psw{
	float: right;
	padding-top: 16px;
}

/* .modal{
	display: none;
	position: fixed;
	z-index: 1;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 60px;
}

.modal-content{
	background-color: #fefefe;
	margin: 5px auto;
	border: 1px solid #888;
	width: 80%;
} */

/* .close{
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus{
	color: red;
	cursor: pointer;
} */

.animate{
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom{
	from{-webkit-transform: scale(0)}
	to{-webkit-transform: scale(1)}
}

@keyframes animatezoom{
	from{transform: scale(0)}
	to{transform: scale(1)}
}

.container2{
	padding: 16px;
	margin: auto;
}
