Package: $package_name
Version: $version
Architecture: $arch
Maintainer: DOST-ASTI
Description: NetMesh RFC-6349 App
  This application tool serves as a framework for measured end-to-end TCP throughput in a managed IP Network. This is to be used internally by the National Telecommunications Commission (NTC)
Depends: jq, iperf3, adb, nmap, python3-pip, python3-tk, libqt5svg5, libxcb-xinerama0
