{% extends 'base.html' %}

{% block head %}
<title>Log in</title>
{{ super() }}
<style>
	body,
	html {
		height: 100%;
		/* overflow-x: hidden !important; */
	}

	img.background-logo {
		width: 200px;
	}

	div.alert-danger {
		max-height: 82px;
	}
</style>
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center h-100">
	<div class="align-self-center">
		<div class="card shadow" style="width: 400px; max-width: 400px;">
			<div class="card-body p-0">
				<div class="pt-4">
					<div class="p-2 row justify-content-center">
						<img
							src="{{url_for('static', filename='images/ntc_logo.png')}}"
							title="RFC-6349 Application"
							alt="RFC-6349"
							class="background-logo"
						/>
					</div>
					<div class="p-2 row justify-content-center">
						<span class="h2 text-center"><b>RFC-6349 Application</b></span>
					</div>
				</div>
				<form id="loginForm" action="/login-submit" method="POST">
					<div class="container p-3">
						{% if error %}
						<div class="alert alert-danger alert-dismissible fade show overflow-auto py-1" role="alert">
							{{ error }}
						</div>
						{% endif %}
						<!-- <div class="alert alert-danger alert-dismissible fade show overflow-auto py-1" style="max-height: 80px;" role="alert">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius condimentum tempor. Proin in porta magna. Morbi condimentum tristique magna et tincidunt. Nulla eget placerat quam, vitae aliquam nulla. Nulla at auctor augue. Ut imperdiet dui id eros rutrum pharetra non ut nisl. Donec cursus faucibus elementum. Etiam in congue sapien. Integer vel lorem quis lectus faucibus elementum. Maecenas eget quam a tortor laoreet pulvinar. Ut accumsan dui in laoreet faucibus. Donec tempus efficitur efficitur. Duis nulla turpis, ullamcorper non luctus eget, tempor in lacus. Integer sit amet tortor id ante varius porttitor. Donec et lacinia mi. Proin pellentesque, nisl.
						</div> -->
						<div class="row p-3 py-0">
							<div class="col">
							<div class="col">
								<div class="form-group">
									<label class="form-control-static" for="uname"
										><b>Username</b></label
									>
									<input
										class="form-control has-validation mb-3"
										type="text"
										placeholder="Enter Username"
										name="uname"
										id="uname"
										value="{{ username }}"
									/>
									<div id="validationServerUsernameFeedback" class="invalid-feedback">
										Please choose a username.
									</div>
								</div>
								<div class="form-group">
									<label class="form-control-static" for="psw"
										><b>Password</b></label
									>
									<input
										class="form-control has-validation mb-3"
										type="password"
										placeholder="Enter Password"
										name="psw"
										id="psw"
										value="{{ password }}"
									/>
								</div>
								<div class="d-flex flex-column">
									<button	id="btnLogIn" type="submit" class="btn btn-success mb-2">
                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
										<span>Log in</span>
									</button>
									<a href="/register-device" type="button" class="btn btn-link align-self-center mb-2">
										Register this device
									</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex small text-secondary">
					<div class="">
						{{ app_version }}
					</div>
					<div class="ms-auto">
						Ubuntu {{ ubuntu_version }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}