{% extends 'base.html' %} {% block head %} {{ super() }} {% endblock %} {% block
body %} {{ super() }}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="#">
			<img
				src="{{url_for('static', filename='images/ntc_logo.png')}}"
				title="RFC-6349 Application"
				alt="Avatar"
				style="width: 48px"
			/>
			<span class="p-2">RFC-6349</span>
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link btn active" aria-current="page" href="#">Home</a>
				</li>
				<!-- <li class="nav-item">
            <button class="nav-link btn btn-link" onclick="showSettingsModal()">Test a process</button>
          </li> -->
				<li class="nav-item">
					<a
						class="nav-link btn"
						aria-current="page"
						target="_blank"
						href="https://netmesh.pregi.net/web/speedtest/"
						>Web speedtest</a
					>
				</li>
				<!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
			</ul>
			<div class="navbar-text">
				<span id="loggedUsername" class="text-muted">{{ username }}</span>
				<span class="text-muted p-1"> • </span>
				<!--
          <span id="region-name" class="text-muted">---</span> -->
				<button type="button" class="btn btn-link p-0" onclick="logout()">
					Log out
				</button>
			</div>
		</div>
	</div>
</nav>

<main class="container">
	<div class="p-xl-4">{% block content %} {% endblock %}</div>
</main>

<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Test a process</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group mb-3">
					<label class="form-label" for="net_type">Select a test type</label>
					<div class="form-check">
						<input
							class="form-check-input"
							type="radio"
							name="radProcess"
							id="radUploadProcess"
						/>
						<label class="form-check-label" for="radUploadProcess">
							Upload
						</label>
					</div>
					<div class="form-check">
						<input
							class="form-check-input"
							type="radio"
							name="radProcess"
							id="radDownloadProcess"
						/>
						<label class="form-check-label" for="radDownloadProcess">
							Download
						</label>
					</div>
					<div class="form-check">
						<input
							class="form-check-input"
							type="radio"
							name="radProcess"
							id="radBidirectionalProcess"
						/>
						<label class="form-check-label" for="radBidirectionalProcess">
							Bidirectional
						</label>
					</div>
				</div>
				<select class="form-select">
					<option value="" selected disabled>Select a process...</option>
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
				</select>
				<button type="button" class="btn btn-primary pull-right mt-2">
					Test
				</button>
			</div>
			<!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->
		</div>
	</div>
</div>
{% endblock %}
