[Desktop Entry]
Type=Application
Terminal=false
Name=NetMesh RFC-6349 App
Icon=netmesh-rfc6349-app
Categories=Application;
Exec=bash -c "pkexec /usr/bin/netmesh-rfc6349-app/netmesh-rfc6349-app";
