<!doctype html>
<html lang="en">
  {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.css') }}">
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/select2/dist/css/select2.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css') }}">
    <script src="{{ url_for('static', filename='node_modules/select2/dist/js/select2.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}">
    <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/leaflet-image/leaflet-image.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/apexcharts/dist/apexcharts.css') }}" />
    <script src="{{ url_for('static', filename='node_modules/apexcharts/dist/apexcharts.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
  {% endblock %}

  {% block body %}

  {% block scripts %}
    <script src="{{ url_for('static', filename='node_modules/moment/min/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/numeral/min/numeral.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tooltip.js') }}"></script>
  {% endblock scripts %}

  {% endblock body %}
</html>
