<h4 class="mb-0">
  {{ region_name }}
</h4>
<div class="mb-3"></div>
<h6>Who will own this laptop?</h6>
<div class="mb-3">
  <select
    id="device-owner"
    name="device-owner"
    class="form-select"
    required
  >
    <option {% if not user or user|length == 0 %} selected {% endif %} disabled hidden value=""></option>
    {% for user in users %}
      <option	{% if user == user.id %} selected {% endif %} value="{{ user.id }}">{{ "%s %s" | format(user.first_name, user.last_name) }}</option>	
    {% endfor %}
  </select>
  <div class="invalid-feedback">
    Select the owner
  </div>
</div>
<h6>What will be the name of this laptop?</h6>
<div class="mb-3">
  <input
    id="device-name"
    name="device-name"
    type="text"
    class="form-control"
    placeholder="(ex. r1-user-laptop)"
    value="{{ device_name }}"
    requiredf
  />
  <div id="deviceNameLoading" class="form-text" hidden="true">
    <div class="spinner-border spinner-border-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <span>Checking device name...</span>
  </div>
  <div class="invalid-feedback" id="device-name-validation">
    Please enter the name of this laptop
  </div>
  <div class="valid-feedback">
    Laptop name is available
  </div>
</div>


<script>
  (function () {
    const session = JSON.parse('{{session|tojson}}');
    const data = JSON.parse('{{ users|tojson|safe }}');

    const $deviceOwner = $('#device-owner');
    const $deviceName = $('#device-name');

    let isDeviceOwnerValid = false;
    let isDeviceNameValid = false;

    $deviceOwner.select2({
      data: data,
      theme: "bootstrap-5",
      placeholder: `Select owner from ${'{{ region_name }}'}`,
      templateSelection: formatSelection,
      templateResult: formatSelection,
      matcher: matchCustom
    });

    $deviceOwner.on('select2:select', function (ev) {
      const data = ev.params.data;
      const regionName = data['ntc_region'];
      
      const firstCharacter = regionName.charAt(0);
      let shortRegionName = regionName;
      if (firstCharacter && firstCharacter.toLowerCase() == firstCharacter.toUpperCase()) {
        shortRegionName = `r${firstCharacter}`
      }
      $deviceName.val(`${shortRegionName.toLowerCase()}-${data['first_name'].toLowerCase()}-laptop`);
      $deviceName.focus();

      isDeviceOwnerValid = true;
      setLaptopNameChecker();
      $deviceOwner.addClass('is-valid');
    });

    let typingTimer;
    let laptopCheckerAjax;
    let doneTypingInterval = 300;

    const setLaptopNameChecker = () => {
      isDeviceNameValid = false;
      setContinueButtonStatus();

      laptopCheckerAjax?.abort();
      clearTimeout(typingTimer);

      $deviceName.removeClass('is-invalid').removeClass('is-valid');

      const enteredLaptopName = $deviceName.val();
      if (enteredLaptopName) {
        $('#deviceNameLoading').attr('hidden', false);
        typingTimer = setTimeout(checkLaptopName, doneTypingInterval);
      } else {
        $('#deviceNameLoading').attr('hidden', true);

        isDeviceNameValid = false;
        setContinueButtonStatus();
      }
    }
    
    const checkLaptopName = () => {
      const enteredLaptopName = $deviceName.val();

      laptopCheckerAjax = $.ajax({
        // url: 'http://202.90.159.48/api/rfc6349/device/',
        url: 'https://netmesh.pregi.net/portal/api/rfc6349/device/',
        dataType: 'json',
        headers: {
          Authorization: `Token ${session['admin-token']}`
        },
        data: {
          check_name: enteredLaptopName,
        },
        success: function (response) {
          $deviceName.removeClass('is-invalid').addClass('is-valid');

          isDeviceNameValid = true;
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR.responseJSON);
          const error = jqXHR.responseJSON?.detail ?? jqXHR.responseText ?? "Unexpected error occured";
          $('#device-name-validation').text(error);
          $deviceName.removeClass('is-valid').addClass('is-invalid');

          isDeviceNameValid = false;
        },
        complete: function (jqXHR, textStatus) {
          $('#deviceNameLoading').attr('hidden', true);
          setContinueButtonStatus();
        }
      })
    }

    const setContinueButtonStatus = () => {
      $('#device-confirmation-button').attr('disabled', !(isDeviceNameValid && isDeviceOwnerValid))
    }
    
    $deviceName.on('input', setLaptopNameChecker);
    $deviceName.on('keydown', function () {
      clearTimeout(typingTimer);
    });

    function formatSelection(state) {
      if (!state.id) {
        return state.text;
      }
      var $state = $(
        `<div class="d-flex align-items-baseline">
          <span class="me-auto">${ state.first_name } ${  state.last_name }</span>
          <span class="small text-secondary">${ state.email }</span>
        </div>`
      );
      return $state;
    }

    function matchCustom(params, data) {
      if ($.trim(params.term) === '') {
        return data;
      }

      if (typeof data.text === 'undefined') {
        return null;
      }

      if (data.text.indexOf(params.term) > -1
        || data.email?.indexOf(params.term) > -1) {
        var modifiedData = $.extend({}, data, true);
        modifiedData.text += ' (matched)';
        
        return modifiedData;
      }
      
      return null;
    }
  })();
</script>