
<h6 class="mb-1">Please check the following information you've entered:</h6>
<div class="card mb-3 border-primary">
  <div class="card-body px-2 py-1 pb-2">
    <div class="row gx-2 gy-0">
      <div class="col-sm-3">
        <span class="small text-primary">Region</span>
      </div>
      <div class="col-sm-9">
        <span class="small fw-bold">
          {{ region_name }}
        </span> 
      </div>

      <div class="col-sm-3">
        <span class="small text-primary">Laptop owner</span>
      </div>
      <div class="col-sm-9">
        <div class="small fw-bold">
          <div class="">{{ laptop_owner }}</div>
          <div class="text-secondary">{{ laptop_owner_email }}</div>
        </div>
      </div>

      <div class="col-sm-3">
        <span class="small text-primary">Laptop name</span>
      </div>
      <div class="col-sm-9">
        <span class="small fw-bold">
          {{ laptop_name }}
        </span> 
      </div>
    </div>
  </div>
</div>
<label class="mb-1 fw-bold text-secondary small">Device info</label>
{% include 'device_info.html' %}