<h4 class="mb-0">
  {{ region_name }}
</h4>
<div class="mb-3"></div>
<h6>Who will own this laptop?</h6>
<div class="mb-3">
  <select
    id="device-owner"
    name="device-owner"
    class="form-select"
    required
  >
    <option {% if not user or user|length == 0 %} selected {% endif %} disabled hidden value=""></option>
    {% for user in users %}
      <option	{% if user == user.id %} selected {% endif %} value="{{ user.id }}">{{ "%s %s" | format(user.first_name, user.last_name) }}</option>	
    {% endfor %}
  </select>
  <div class="invalid-feedback text-break">
    Select the owner
  </div>
</div>
<h6 class="d-flex justify-content-between">
  <span>
    What will be the name of this laptop?
  </span>
  <small id="laptop-name-counter" class="text-muted"></small></h6>
<div class="mb-3">
  <input
    id="device-name"
    name="device-name"
    type="text"
    class="form-control"
    placeholder="(ex. r1-user-laptop)"
    value="{{ device_name }}"
    requiredf
  />
  <div id="deviceNameLoading" class="form-text" hidden="true">
    <div class="spinner-border spinner-border-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <span>Checking device name...</span>
  </div>
  <div class="invalid-feedback text-break" id="device-name-validation">
    Please enter the name of this laptop
  </div>
  <div class="valid-feedback text-break" id="device-name-validation-valid">
    Laptop name is available
  </div>
</div>


<script>
  (function () {
    const RESULTS_SERVER_API_URI = JSON.parse('{{config["RESULTS_SERVER_API_URI"]|tojson}}');
    const session = JSON.parse('{{session|tojson}}');
    const data = JSON.parse('{{ users|tojson|safe }}');

    const $deviceOwner = $('#device-owner');
    const $deviceName = $('#device-name');

    const laptopNameMaxLength = 100;
    $('#laptop-name-counter').text(`0/${laptopNameMaxLength}`);

    let isDeviceOwnerValid = false;
    let isDeviceNameValid = false;

    $deviceOwner.select2({
      data: data,
      theme: "bootstrap-5",
      placeholder: `Select owner from ${'{{ region_name }}'}`,
      templateSelection: formatSelection,
      templateResult: formatSelection,
      matcher: matchCustom
    });

    $deviceOwner.on('select2:select', function (ev) {
      const data = ev.params.data;
      console.log(data);
      const regionName = data['nro']['region'];
      
      const firstCharacter = regionName.charAt(0);
      let shortRegionName = regionName;
      if (firstCharacter && firstCharacter.toLowerCase() == firstCharacter.toUpperCase()) {
        shortRegionName = `r${firstCharacter}`
      }
      $deviceName.val(`${shortRegionName.toLowerCase()}-${data['first_name'].toLowerCase()}-laptop`);
      $deviceName.focus();

      isDeviceOwnerValid = true;
      setLaptopNameChecker();
      $deviceOwner.addClass('is-valid');
    });

    let typingTimer;
    let laptopCheckerAjax;
    let doneTypingInterval = 750;

    const setLaptopNameChecker = () => {
      isDeviceNameValid = false;
      setContinueButtonStatus();

      laptopCheckerAjax?.abort();
      clearTimeout(typingTimer);

      $deviceName.removeClass('is-invalid').removeClass('is-valid');

      const enteredLaptopName = $deviceName.val().trim();
      let isValid = true;

      $('#laptop-name-counter').text(`${enteredLaptopName.length}/${laptopNameMaxLength}`);

      if (!enteredLaptopName) {
        isValid = false;
      }
      else if (enteredLaptopName.length > laptopNameMaxLength) {
        $('#device-name-validation').text("Laptop name too long");
        $deviceName.addClass('is-invalid');
        isValid = false;
      }
      else if (!/^[A-Za-z0-9À-ÿ_\-]+$/.test(enteredLaptopName)) {
        $('#device-name-validation').text("Invalid laptop name");
        $deviceName.addClass('is-invalid');
        isValid = false;
      }
      
      if (!isValid) {
        $('#deviceNameLoading').attr('hidden', true);
        
        isDeviceNameValid = false;
        setContinueButtonStatus();
      } else {
        $('#deviceNameLoading').attr('hidden', false);
        typingTimer = setTimeout(() => checkLaptopName(enteredLaptopName), doneTypingInterval);
      }
    }
    
    const checkLaptopName = (laptopName) => {
      laptopCheckerAjax = $.ajax({
        url: `${RESULTS_SERVER_API_URI}/rfc6349/device/`,
        dataType: 'json',
        headers: {
          Authorization: `Token ${session['admin-token']}`
        },
        data: {
          check_name: laptopName,
        },
        success: function (response) {
          $deviceName.removeClass('is-invalid').addClass('is-valid');
          $('#device-name-validation-valid').html(`<b>${laptopName}</b> is available`);
          $('#device-name').data('name', laptopName);

          isDeviceNameValid = true;
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR.responseJSON);
          const error = jqXHR.responseJSON?.detail ?? jqXHR.responseText ?? "Unexpected error occured";
          $('#device-name-validation').text(error);
          $deviceName.removeClass('is-valid').addClass('is-invalid');

          isDeviceNameValid = false;
        },
        complete: function (jqXHR, textStatus) {
          $('#deviceNameLoading').attr('hidden', true);
          setContinueButtonStatus();
        }
      })
    }

    const setContinueButtonStatus = () => {
      $('#device-confirmation-button').attr('disabled', !(isDeviceNameValid && isDeviceOwnerValid))
    }
    
    $deviceName.on('input', setLaptopNameChecker);
    $deviceName.on('keydown', function () {
      clearTimeout(typingTimer);
    });

    function formatSelection(state) {
      if (!state.id) {
        return state.text;
      }
      var $state = $(
        `<div class="d-flex align-items-baseline">
          <span class="me-auto">${ state.first_name } ${ state.last_name }</span>
          <span class="small text-secondary">${ state.email }</span>
        </div>`
      );
      return $state;
    }

    function matchCustom(params, data) {
      if ($.trim(params.term) === '') {
        return data;
      }

      if (typeof data.text === 'undefined') {
        return null;
      }

      const term = params.term?.toLowerCase();

      if (data.text.toLowerCase().indexOf(term) > -1
        || data.email?.toLowerCase().indexOf(term) > -1) {
        var modifiedData = $.extend({}, data, true);
        modifiedData.text += ' (matched)';
        
        return modifiedData;
      }
      
      return null;
    }
  })();
</script>