
<div class="card">
  <div class="card-body px-2 py-1 pb-2">
    <div class="row gx-2 gy-0">
      <div class="col-sm-4">
        <span class="small text-secondary">Manufacturer</span>
      </div>
      <div class="col-sm-8">
        <span class="small">
          {{ device_info.manufacturer }}
        </span> 
      </div>

      <div class="col-sm-4">
        <span class="small text-secondary">Product</span>
      </div>
      <div class="col-sm-8">
        <span class="small">
          {{ device_info.product }}
        </span> 
      </div>

      <div class="col-sm-4">
        <span class="small text-secondary">Version</span>
      </div>
      <div class="col-sm-8">
        <span class="small">
          {{ device_info.version }}
        </span> 
      </div>

      <div class="col-sm-4">
        <span class="small text-secondary">Serial number</span>
      </div>
      <div class="col-sm-8">
        <span class="small">
          {{ device_info.serial_number }}
        </span> 
      </div>

      <div class="col-sm-4">
        <span class="small text-secondary">OS</span>
      </div>
      <div class="col-sm-8">
        <span class="small">
          {{ device_info.os }}
        </span> 
      </div>

      <div class="col-sm-4">
        <span class="small text-secondary">Kernel</span>
      </div>
      <div class="col-sm-8">
        <span class="small">
          {{ device_info.kernel }}
        </span> 
      </div>

      <div class="col-sm-4">
        <span class="small text-secondary">RAM</span>
      </div>
      <div class="col-sm-8">
        <span class="small">
          {{ device_info.ram }}
        </span> 
      </div>

      <div class="col-sm-4">
        <span class="small text-secondary">Disk</span>
      </div>
      <div class="col-sm-8">
        <span class="small">
          {{ device_info.disk }}
        </span> 
      </div>
      <!-- <div class="col">
        <div class="">
          <label class="form-label small mb-0 text-secondary">Manufacturer</label>
          <input readonly tabindex="-1" class="form-control-plaintext small pt-0" value="{{ device_info.manufacturer }}">
        </div>
        <div class="">
          <label class="form-label small mb-0 text-secondary">Product</label>
          <input readonly tabindex="-1" class="form-control-plaintext small pt-0" value="{{ device_info.product }}">
        </div>
        <div class="">
          <label class="form-label small mb-0 text-secondary">Version</label>
          <input readonly tabindex="-1" class="form-control-plaintext small pt-0" value="{{ device_info.version }}">
        </div>
        <div class="">
          <label class="form-label small mb-0 text-secondary">Serial number</label>
          <input readonly tabindex="-1" class="form-control-plaintext small pt-0" value="{{ device_info.serial_number }}">
        </div>
      </div>
      <div class="col">
        <div class="">
          <label class="form-label small mb-0 text-secondary">OS</label>
          <input readonly tabindex="-1" class="form-control-plaintext small pt-0" value="{{ device_info.os }}">
        </div>
        <div class="">
          <label class="form-label small mb-0 text-secondary">Kernel</label>
          <input readonly tabindex="-1" class="form-control-plaintext small pt-0" value="{{ device_info.kernel }}">
        </div>
        <div class="">
          <label class="form-label small mb-0 text-secondary">RAM size</label>
          <input readonly tabindex="-1" class="form-control-plaintext small pt-0" value="{{ device_info.ram }}">
        </div>
        <div class="">
          <label class="form-label small mb-0 text-secondary">Disk capacity</label>
          <input readonly tabindex="-1" class="form-control-plaintext small pt-0" value="{{ device_info.disk }}">
        </div>
      </div> -->
    </div>
  </div>
</div>