<div class="mb-3">
  <label class="form-label mb-1" for="admin-email">Email</label>
  <input
    id="admin-email"
    name="admin-email"
    type="email"
    class="form-control mb-2"
    placeholder="Enter admin email"
    value="{{ admin_email }}"
    required
  />
</div>
<div class="mb-3">
  <label class="form-label mb-1" for="admin-password">Password</label>
  <div class="input-group input-group">
    <input
      id="admin-password"
      name="admin-password"
      type="password"
      class="form-control"
      placeholder="Enter admin password"
      required />	
    <input
      type="checkbox"
      class="btn-check"
      id="admin-password-eye"
      autocomplete="off">
    <label
      class="btn btn-outline-secondary"
      for="admin-password-eye">
      <i class="bi bi-eye"></i>
    </label>
  </div>
</div>
{% if error %}
<div class="alert alert-danger alert-dismissible fade show overflow-auto py-1 small" role="alert">
  {{ error }}
</div>
{% endif %}