{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{{ super() }}

<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top shadow-sm">
	<div class="container">
		<div class="navbar-brand">
			<img
				src="{{url_for('static', filename='images/netmesh-icon.webp')}}"
				title="{{ config['APP_TITLE'] }}"
				alt="Avatar"
				style="width: 48px"
			/>
			<span class="p-2">
				<span>RFC-6349</span>
				<span class="p-1 small text-secondary">
					{{ app_version }}
				</span>
			</span>
		</div>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			</ul>
			<div class="navbar-text">
				<div class="btn-group">
					<button id="loggedUserFullName" class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-person-fill me-1 align-baseline"></i>
						{{ full_name }}
					</button>
					<ul class="dropdown-menu dropdown-menu-sm-end">
						<li>
							<a id="loggedUserEmail" class="dropdown-item disabled small">{{ email }}</a>
						</li>
						<li>
							<button id="btnLogOut" type="button" class="dropdown-item">Log out</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>

<main class="py-4">
	<div class="container">{% block content %} {% endblock %}</div>
</main>

<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Test a process</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group mb-3">
					<label class="form-label" for="net_type">Select a test type</label>
					<div class="form-check">
						<input
							class="form-check-input"
							type="radio"
							name="radProcess"
							id="radUploadProcess"
						/>
						<label class="form-check-label" for="radUploadProcess">
							Upload
						</label>
					</div>
					<div class="form-check">
						<input
							class="form-check-input"
							type="radio"
							name="radProcess"
							id="radDownloadProcess"
						/>
						<label class="form-check-label" for="radDownloadProcess">
							Download
						</label>
					</div>
					<div class="form-check">
						<input
							class="form-check-input"
							type="radio"
							name="radProcess"
							id="radBidirectionalProcess"
						/>
						<label class="form-check-label" for="radBidirectionalProcess">
							Bidirectional
						</label>
					</div>
				</div>
				<select class="form-select">
					<option value="" selected disabled>Select a process...</option>
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
				</select>
				<button type="button" class="btn btn-primary pull-right mt-2">
					Test
				</button>
			</div>
			<!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->
		</div>
	</div>
</div>

{% endblock body %}
