{% extends 'base.html' %}

{% block head %}
	{{ super() }}
	<title>Device Registration</title>
	<style>
		div.alert-danger {
			max-height: 73px;
		}

		.main-content {
			width: 480px;
		}
		
		.registration-form {
			height: 400px;
		}
		
		.carousel-inner .carousel-item {
			transition: -webkit-transform 0.3s ease;
			transition: transform 0.3s ease;
			transition: transform 0.3s ease, -webkit-transform 0.3s ease;
		}
	</style>
{% endblock %}

{% block body %}

<div class="d-flex justify-content-center align-items-center vh-100">
	<div class="main-content border rounded p-4">
		<div class="d-flex mb-3">
			<img
				class="me-3"
				src="{{url_for('static', filename='images/netmesh-logo.webp')}}"
				width="70"
				height="100%"
			/>
			<div class="fill-flex align-self-center">
				<h4 class="mb-0">
					{{ config['APP_TITLE'] }}
					<div class="small">Laptop Registration</div>
				</h4>
			</div>
		</div>
		<div id="carousel-registration" class="carousel slide" data-bs-ride="false" data-bs-touch="false" data-bs-interval="false" data-bs-wrap="false">
			<div class="carousel-inner">
				<div class="carousel-item p-2 active">
					<div class="d-flex flex-column registration-form">
						<div id="welcome-device-content">
							{% include 'device_registration_welcome.html' %}
						</div>
						<div class="mt-auto">
							<div class="d-flex justify-content-end">
								<!-- <button id="already-registered-button" type="button" class="btn btn-sm btn-link me-auto">Already registered this device</button> -->
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#admin-credentials-modal">Start Registration</button>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="carousel-item p-2">
					<div class="d-flex flex-column registration-form">
						<div id="ntc-region-selection-content">
						</div>
						<div class="mt-auto">
							<div class="d-flex justify-content-end">
								<button id="submit-region-button" type="button" class="btn btn-primary">Continue</button>
							</div>
						</div>
					</div>
				</div> -->
				<div class="carousel-item p-2">
					<div class="d-flex flex-column registration-form">
						<div id="device-details-content">
						</div>
						<div class="mt-auto">
							<div class="d-flex justify-content-end">
								<!-- <button type="button" class="btn btn-sm btn-link link-danger p-0 me-auto">Cancel registration</button> -->
								<div class="me-auto">
									<button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="bi bi-three-dots-vertical"></i>
										Options
									</button>
									<ul class="dropdown-menu">
										<li>
											<a id="cancel-registration-button" href="#" class="dropdown-item small">
												<span class="text-danger">Cancel registration</span>
											</a>
										</li>
									</ul>
								</div>
								<button id="device-confirmation-button" type="button" class="btn btn-primary" disabled="true">Continue</button>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item p-2">
					<div class="d-flex flex-column registration-form">
						<div id="device-registered-content">
							
						</div>
						<div class="mt-auto">
							<div class="d-flex justify-content-end">
								<a id="use-rfc-button" href="/" class="btn btn-primary">Use {{ config['APP_TITLE'] }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="admin-credentials-modal" class="modal" tabindex="-1" data-bs-keyboard="true" data-bs-backdrop="static" aria-labelledby="admin-credentials-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <form class="modal-content" action="{{ url_for('device_registration.log_admin') }}" method="POST">
      <div class="modal-header">
        <h5 class="modal-title">Enter admin credentials</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
				{% include 'device_admin_credentials.html' %}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
					<div class="spinner-border spinner-border-sm" role="status" hidden>
						<span class="visually-hidden">Loading...</span>
					</div>
					Proceed
				</button>
      </div>
    </form>
  </div>
</div>

<div id="device-confirmation-modal" class="modal" tabindex="-1" data-bs-keyboard="true" data-bs-backdrop="static" aria-labelledby="device-confirmation-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <form class="modal-content" action="{{ url_for('device_registration.register_api') }}" method="POST">
      <div class="modal-header">
        <h5 class="modal-title">Laptop to register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>
</div>

{% block scripts %}
	<script>
		(function() {
			$(function () {
				const $registrationCarousel = $('#carousel-registration');

				let adminCredentailsAjax;
				const $adminCredentailsModal = $('#admin-credentials-modal');
				const $adminCredentailsForm = $('#admin-credentials-modal form');
				$adminCredentailsForm.on('submit', function (ev) {
					ev.preventDefault();

					const formData = new FormData(ev.target);

					$('.alert').remove();
					$('#admin-credentials-modal input, #admin-credentials-modal button:not(.btn-close)').attr('disabled', true);
					$('#admin-credentials-modal button .spinner-border').attr('hidden', false);

					adminCredentailsAjax = $.ajax({
						url: $adminCredentailsForm.attr('action'),
						method: $adminCredentailsForm.attr('method'),
						dataType: 'html',
						data: Object.fromEntries([...formData]),
						success: function (response) {
							$('#device-details-content').html(response);

							$registrationCarousel.carousel('next');
							
							$adminCredentailsModal.modal('hide');
						},
						error: function (jqXHR, textStatus, errorThrown) {
							console.log({jqXHR, textStatus, errorThrown});
							$('#admin-credentials-modal .modal-body').html(jqXHR.responseText);
						},
						complete: function (jqXHR, textStatus) {
							$('#admin-credentials-modal input, #admin-credentials-modal button:not(.btn-close)').attr('disabled', false);
							$('#admin-credentials-modal button .spinner-border').attr('hidden', true);
						}
					})
				});
				
				$adminCredentailsModal.on('show.bs.modal', function (ev) {
					$('.alert').remove();
					$('#admin-password').attr('type', 'password');
					$adminCredentailsForm.trigger("reset");
				});

				$adminCredentailsModal.on('hide.bs.modal', function (ev) {
					adminCredentailsAjax?.abort();
				});

				$adminCredentailsModal.on('shown.bs.modal', function (ev) {
					$('#admin-email').focus();
				});


				// const $submitRegionButton = $('#submit-region-button');
				// $submitRegionButton.on('click', function (ev) {
				// 	const ntcRegions = document.getElementById('ntc-region');

				// 	$.ajax({
				// 		url: 'get-device-details-template',
				// 		method: 'POST',
				// 		dataType: 'html',
				// 		data: {
				// 			region: ntcRegions.value,
				// 			regionName: $('#ntc-region option:selected').text()
				// 		},
				// 		success: function (response) {
				// 			$('#device-details-content').html(response);
							
				// 			$registrationCarousel.carousel('next');
				// 		},
				// 		error: function (jqXHR, textStatus, errorThrown) {
				// 			$('#ntc-region-selection-content').html(jqXHR.responseText);
				// 		}
				// 	});
				// });

				$('#cancel-registration-button').on('click', function (ev) {
					const willCancelRegistration = confirm("Do you want to cancel registration?");
					if (willCancelRegistration) {
						// $('#admin-credentials-modal .modal-body').load('device_admin_credentials.html');

						$registrationCarousel.carousel(0);
						$('#device-details-content').html("");
					}
				});

				const $deviceConfirmationModal = $('#device-confirmation-modal');
				$('#device-confirmation-button').on('click', function (ev) {
					const selectedOwner = $('#device-owner').select2('data')[0];
					console.log("selectedOwner", selectedOwner);

					if (selectedOwner.id) {
						document.getElementById('device-owner').classList.remove('is-invalid');
					} else {
						document.getElementById('device-owner').classList.add('is-invalid');
					}

					const laptopName = $('#device-name').data('name');
					if (laptopName) {
						document.getElementById('device-name').classList.remove('is-invalid');
					} else {
						document.getElementById('device-name').classList.add('is-invalid');
					}

					const isValid = document.getElementsByClassName('is-invalid').length === 0;
					if (!isValid) {
						return;
					}

					$.ajax({
						url: 'device-confirmation-template',
						method: 'POST',
						dataType: 'html',
						data: {
							// regionName: $('#ntc-region option:selected').text(),
							laptopOwner: `${$('#device-owner option:selected').text()}`,
							laptopOwnerEmail: selectedOwner.email,
							laptopName: laptopName
						},
						success: function (response) {
							console.log(response);
							$deviceConfirmationModal.modal('show');
							$('#device-confirmation-modal .modal-body').html(response);
						},
						error: function (jqXHR, textStatus, errorThrown) {
							console.error({jqXHR, textStatus, errorThrown});
							// $('#ntc-region-selection-content').html(jqXHR.responseText);
						}
					});
				});

				$('#device-confirmation-modal .modal-content').on('submit', function (ev) {
					ev.preventDefault();

					const selectedOwner = $('#device-owner').select2('data')[0];
					$.ajax({
						url: 'register-api',
						method: 'POST',
						dataType: 'json',
						data: {
							adminEmail: $('#admin-email').val(),
							deviceOwnerInfo: JSON.stringify({
								user_id: selectedOwner.id,
								name: selectedOwner.text,
								email: selectedOwner.email
							}),
							deviceName: $('#device-name').data('name')
						},
						success: function (response) {
							$deviceConfirmationModal.modal('hide');
							
							$('#device-registered-content').html(response.html);
							
							$registrationCarousel.carousel('next');
						},
						error: function (jqXHR, textStatus, errorThrown) {
							alert(jqXHR.responseJSON?.error ?? "Unknown error occured");
							console.error({jqXHR, textStatus, errorThrown});
							// $('#ntc-region-selection-content').html(jqXHR.responseText);
						}
					});
				});
			});
		})();
	</script>
{% endblock scripts %}

{% endblock body %}